.section-whit {
  background-color: #fff;
  padding: 70px 0;
}

.team-item {
  background-color: #f4f5f6;
  text-align: center;
  margin: 20px 0%;
  border-radius: 8px 8px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition:all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.team-item:hover {
  background: #6D8B74;
  color: white;
}

.team-item h3 {
  margin: 20px 0 1px 0 !important;
  color: #454545;
  font-size: 18;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.section-subtitle {
  white-space: pre-line;
  color: #000;
}
.team-item:hover h3 {
  color: blue;
}

.team-info {
  display: block;
  margin-bottom: 0;
}

.team-info p {
  color: #000;
  font-style: italic;
}

.team-img {
  max-width: 140px;
  padding: 6px 6px;
  background-color: #dedede;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}


