.section-whit {
  background-color: #fff;
  padding: 70px 0;
}

.team-item {
  background-color: #f4f5f6;
  text-align: center;
  margin: 10px;
  padding: 50px 20px 40px 20px;
  border-radius: 8px 8px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition:all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.team-item:hover {
  background: aquamarine;
  
}
