.buttPanel{
  color: #fff;
  text-align: start;
  border: none;
  background-color: transparent;
  font-size: 16px;
  border-radius: 10px;
  border-bottom: #fff 0.5px solid;
}

.buttPanel:hover{
  background-color: #ffffff29;
}

.buttPanelActive{
  color: #fff;
  text-align: start;
  border: none;
  background-color: #ffffff29;
  font-size: 16px;
  border-radius: 10px;
  border-bottom: #fff 0.5px solid;
}

.inputWidth{
  width: 200px;
}

.inputWidthTwo{
  width: 150px;
}

.imageUpload{
  width: 100%;
}

.backCard{
  background-color: #ddd;
  border: solid 0.5px #000000;

}


.contProd{
  overflow-y: scroll;
  max-height: 1000px;
}

.contentImgsearch{
  width: 100%; 
  height: 6em;
  position: relative;
  overflow: hidden;
  border: solid 1px gray;
}

.contentImg{
  width: 100%; 
  height: 13em;
  position: relative;
  overflow: hidden;
  border: solid 1px gray;
}

.imgCards{
  height: 100%;
  object-fit:contain;
  object-position: center center;
}

.prices{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0%;
  background-color: #000000b9;
  transition: 0.5s;
  cursor: pointer;
  color:#fff;
  flex-direction: column;
}

.prices:hover{
  opacity: 100%;
}

.buttOffert{
  position: relative;
  border: none;
  text-align: start;
  width: 100%;
  text-decoration: none;
}

.bacck{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000091;
  top: 0;
  left: 0;
  opacity: 0%;
  transition: 0.5s;
}

.bacck:hover{
  opacity: 100%;
}

.tabled{
  background-color: #fff;
  text-align: left;
  width: 100%;
  height: 50%;
  border-collapse: collapse;
}

.tabled th, .tabled td{
  padding: 15px;
  font-size: 15px;
}

.tableheader {
  border-bottom: 5px solid #0F362D;
  color: white;
  font-weight: 600;
}

.tabled tr:nth-child(even){
  background-color: #ddd;
}

.tabled{
  overflow-y: scroll;
}

@media (max-width: 500px){
  .tabled th, .tabled td{
    padding: 10x;
    font-size: 10px;
  }
  .tableheader {
    font-weight: 300;
  }
  
}

@media (max-width: 365px){
  .tabled th, .tabled td{
    padding: 6x;
    font-size: 6px;
  }
  .tableheader {
    font-weight: 200;
  }
  
}