@import url('../../assets/styles/index.css');

.regContainer {
  background-color: var(--bg-nt);
}

.regCol {
  background-color: #fefefe;
}

.regButton {
  background-color: var(--bg-button-nt);
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 3px;
}

.regButton:hover {
  background-color: var(--bg-navbar-nt);
}

.regImg {
  filter: drop-shadow(-2px -1px 2px rgba(0, 0, 0, 0.3));
}
